<div class="container mt-4 top-content">
<h1 class="fs-3 fw-bold">ようこそ<storng class="d-inlineblock m-2">Bookers</storng>へ!</h1>
<div class="m-4 raw">
<p class="ml-2 mb-4 pb-2">
  <storng class="fw-bold">Bookes</storng>
  では、さまざまな書籍に関するあなたの意見や
</p>
<p class="ml-2 pb-2">印象を共有し交換するこどができます</p>
<%= link_to 'start','/books' %>
</div>
</div>